body {
  background-color: #ebebeb;
  color: #232b31 !important;
}

main {
  margin: 50px 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.25rem;
}

a {
  color: #232b31;
}

a:hover {
  text-decoration: none;
}

table thead {
  background: #242b31;
  color: white;
}

table td:last-child {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ced4da;
}

nav a {
  color: white;
}

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.align-start {
  align-items: flex-start;
}

.flex.align-end {
  align-items: flex-end;
}

.flex.justify-between {
  justify-content: space-between;
}
