body {
  background-color: #02111b;
  margin: 40px 0;
}

h1 {
  font-size: 1.8rem;
  color: #fcfcfc;
}

h2 {
  font-size: 1.25rem;
  color: #fcfcfc;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

table {
  margin-top: 15px;
}

table:not(:last-child) {
  margin-bottom: 40px;
}
